/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width:100vw;
  /* height:100vh */
}
.Container{
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap:2rem; */
}
.sidebar{
  width:15vw;
  height: 100vh;
  background-color: white;
  color:black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  left:0;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}


.sidebar h2{
  top:0;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.sidebar p{
  margin-bottom: 1rem;
}

.sidebar > div{
  display: flex;
  gap:10px;
  margin:8px 0px;
}
.sidebar > div img{
  width:100%;
}

.rightdiv{
  width:82vw;
  height: 100vh;
  color:black;
  padding: 1rem 2rem;
  margin: auto;
  border: 1px solid black;

}
.rightdiv .topdiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topdiv .searchdiv{
  width:60vw;
  border: 1px solid black;
  height: 40px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap:5px;
  padding: 3px;
}
.searchdiv input{
  height: 25px;
  padding: 3px 0pc;
  font-size: 1rem;
  width:60vw;
  border: none;
}
.searchdiv input:focus{
  outline: none;
}
.rightmenu{
  width: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.circle{
  width:30px;
  height:30px;
  border-radius: 100%;
  border: 1px solid black;
  margin: auto;
  padding: 5px 6px;
  /* background-color: black; */
}

.seconddiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .seconddiv h4{
  display: inline;
} */
.seconddiv .left{
  width:20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seconddiv .right{
  width:10vw;
  display: flex;
  flex-direction: column;
  
}

.middlediv,.lastdiv{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 1%;
 
}

.middlediv .left,.lastdiv .left{
  width:60vw;
  border: 1px solid rgb(206, 200, 200);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px;
  border-radius: 5px;
}
.middlediv .left{
  height: 15vw;
}
.middlediv .right{
  height: 15vw;
 
}

.middlediv .right > div
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middlediv .right,.lastdiv .right{
  width:17vw;
  border: 1px solid gainsboro;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
 
}
.lastdiv .left{
height: 22vw;
}
.lastdiv .right{
  height: 22vw;
}
.tabel1{
  width:100vw;
  height: 500px;
}
